@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;
}

a  {
    color: white;  
    text-decoration: none;
    font-weight: bolder;
}

nav {
    background-color: black;
    padding-top: 20px;
    padding-bottom :5px;
}

nav > a {
    margin-right: 15px;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: darkgray;
    color: black;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(65, 61, 61);
    color: white;
    background-position: right center;
    background-size: cover;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.507);
    background-attachment: fixed;

}

section.imagem > p {
    background-color:rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-shadow: 1px 1px 3px black;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
}

section#img02 {
    background-image: url('imagens/background002.jpg');
}

main > a {
    text-align: right;
    background-color: white;
    color: black;
    display: block;
    padding-right: 10px;
}

main > a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}