  @charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,#0123406e,#0273336c);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00111f;
}
h1 {
    color: #2a8de4;
    text-align: center;
    text-shadow: 1px 1px 0px #074275b7;
}
h2 {
    color: #078f42;
}
p {
    text-align: justify;
}