@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to right,#182625,#28403D);
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: darkred;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    color: yellow;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.616);
    text-align: justify;
}

h1 {
    text-align: center;
    font-family: 'Font',serif;
    font-size: 3em;
}