@charset "UTF_8";

body {
   background-image: linear-gradient(to right,#D9D7D7,#918c8c); 
   
}

header{
    background-color: rgb(224, 98, 98);
    text-align: center;
    padding: 5px;
    margin: -8px -8px 5px -8px;
}

main {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    text-align: justify;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 10px;
}

main img {
    width: 100%;
}